[submodule "sources/lib/sa-mp-fixes"]
	path = sources/lib/sa-mp-fixes
	url = https://github.com/Open-GTO/sa-mp-fixes.git
[submodule "sources/lib/textlist"]
	path = sources/lib/textlist
	url = https://github.com/Open-GTO/textlist.git
[submodule "sources/lib/shootingrange"]
	path = sources/lib/shootingrange
	url = https://github.com/Open-GTO/shootingrange.git
[submodule "sources/lib/zlang"]
	path = sources/lib/zlang
	url = https://github.com/Open-GTO/zlang.git
[submodule "sources/lib/mdialog"]
	path = sources/lib/mdialog
	url = https://github.com/Open-GTO/mdialog.git
[submodule "sources/lib/zvehcomp"]
	path = sources/lib/zvehcomp
	url = https://github.com/Open-GTO/zvehcomp.git
[submodule "sources/lib/zvehpaintjob"]
	path = sources/lib/zvehpaintjob
	url = https://github.com/Open-GTO/zvehpaintjob.git
[submodule "sources/lib/skinselect"]
	path = sources/lib/skinselect
	url = https://github.com/Open-GTO/skinselect.git
[submodule "sources/lib/zvehgetcolor"]
	path = sources/lib/zvehgetcolor
	url = https://github.com/Open-GTO/zvehgetcolor.git
[submodule "sources/lib/gpickup"]
	path = sources/lib/gpickup
	url = https://github.com/Open-GTO/gpickup.git
[submodule "sources/lib/gtolib"]
	path = sources/lib/gtolib
	url = https://github.com/Open-GTO/gtolib.git
[submodule "sources/lib/getspawninfo"]
	path = sources/lib/getspawninfo
	url = https://github.com/Open-GTO/getspawninfo.git
[submodule "sources/lib/time_t"]
	path = sources/lib/time_t
	url = https://github.com/Open-GTO/time_t.git
[submodule "sources/lib/getweather"]
	path = sources/lib/getweather
	url = https://github.com/Open-GTO/GetWeather.git
[submodule "sources/lib/weaponskill"]
	path = sources/lib/weaponskill
	url = https://github.com/Open-GTO/weaponskill.git
[submodule "sources/lib/zvehinfo"]
	path = sources/lib/zvehinfo
	url = https://github.com/Open-GTO/zvehinfo.git
[submodule "sources/lib/garageblock"]
	path = sources/lib/garageblock
	url = https://github.com/Crayder/Realistic-Garage-Blocking.git
[submodule "sources/lib/mxINI"]
	path = sources/lib/mxINI
	url = https://github.com/Open-GTO/mxINI.git
[submodule "sources/lib/foreach"]
	path = sources/lib/foreach
	url = https://github.com/Open-GTO/foreach.git
[submodule "sources/lib/mselect"]
	path = sources/lib/mselect
	url = https://github.com/Open-GTO/mselect.git
