[submodule "sources/lib/sa-mp-fixes"]
	path = sources/lib/sa-mp-fixes
	url = git@github.com:ziggi/sa-mp-fixes.git
[submodule "sources/lib/sa-mp-foreach"]
	path = sources/lib/sa-mp-foreach
	url = git@github.com:Kar2k/SAMP-foreach.git
